.youtube-main {
  padding: 0 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.top-bar .logo .logo-icon {
  width: 30px;
}
.logo-icon img {
  width: 30px;
}
.logo .logo-name {
  font-size: 24px;
  font-weight: bold;
  color: rgb(175, 23, 23);
}

.search input {
  width: 450px;
  height: 32px;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid rgb(121, 121, 121) !important;
}

.search button {
  height: 30px;
  width: 40px;
  border-radius: 30px;
  margin-left: -40px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons > div {
  font-size: 24px;
}
.content-bar {
  display: grid;
  grid-template-columns: 200px auto;
  margin-top: 30px;
}

.main-tab-content {
  display: flex;
  gap: 20px;
  font-size: 24px;
  margin: 10px 0;
}

.content-bar .left-bar .main-tabs .main-tab-content {
  color: blue;
}
.content-bar .left-bar .frequnt-tabs .main-tab-content {
  color: red;
}
.content-bar .left-bar .subscriptions .main-tab-content {
  color: green;
}

.content-bar .left-bar .main-tabs .main-tab-content .tab-content-icon {
}

section {
  display:flex;
}
  
.itemmm img {
width:300px;
height:200px;
margin:50px;
}